#sti-menu-list{

	cursor: pointer;

	li {

		margin-top: 0;
		background-color: inherit;
	 	line-height: 1.5em;
	}

	a{
		overflow: hidden;
		height: 35px;
		display: block;
		text-decoration: none;

		&:hover{
			color: #fff;
		}

		.menu-item {

			display: flex;
			font-size: 14px;
			color: #a7b1c2;
			padding: 0;
			width: 100%;
			min-width: 200px;
			margin: 0;
			text-align: left;

			i{

				width: 50px;
				justify-content: center
			}

			span{

				flex: 1;
				vertical-align: middle;
			}
		}

		&.selected {

			button span, {

				color: #fff;
			}

			button i:first-of-type {

				color: #00B8D4;
			}
		}
	}

	// .selected{
	// 	color: #fff;

	// 	li {

	// 		background-color: #607D8B;
	// 	}
		
	// }

	.unselected{
		color: #a7b1c2;
		button span{
			color: #a7b1c2;
		}
	}

	.fold-style{
		position: relative;
		ul{
			top: 0px;
			left: 50px;
			position: absolute;
			display: none;

			.md-button{
				text-align: center;
			}
		}

		&:hover ul{
			display: block;
		}
	}

	.sub-menu{
		background-color: #455A64
	}
}

.sti-web.default {

	#sti-menu-list{


		li {

		 	&.active {

		 		background-color: #37474F;
		 	}

		 	a {

		 		&.selected {

					button span, {

						color: #fff;
					}

					button i:first-of-type {

						color: #00B8D4;
					}
				}
		 	}
		}
	}
}
