#sti-menu-list{

	cursor: pointer;

	li {
		margin-top: 1px;
		background-color: inherit;
	 	line-height: 1.5em;
	}
	a{
		overflow: hidden;
		height: 35px;
		display: block;
		text-decoration: none;
		&:hover{
			color: #fff;
		}

		.menu-item {

			display: flex;
			font-size: 14px;
			color: #a7b1c2;
			padding: 0;
			width: 100%;
			min-width: 200px;
			margin: 0;
			text-align: left;

			i{

				width: 50px;
				justify-content: center
			}

			span{

				flex: 1;
				vertical-align: middle;
			}
		}
	}

	.selected{
		color: #fff;
		button span{
			color: #fff;
		}
	}

	.unselected{
		color: #a7b1c2;
		button span{
			color: #a7b1c2;
		}
	}

	.fold-style{
		position: relative;
		ul{
			top: 0px;
			left: 50px;
			position: absolute;
			display: none;

			.md-button{
				text-align: center;
			}
		}

		&:hover ul{
			display: block;
		}
	}

	.sub-menu{
		background-color: #455A64
	}
}
