<li :class="[selected?'selected':'unselected', unfold?'':'fold-style']">
  <a href="javascript:void(0)"
    @click="toggle">
      <md-button class="menu-item" :style="{paddingLeft: (model.level - 1) * 1 + 'em'}">
          <sti-icon :icon="iconShow"></sti-icon>
          <span>{{model.meta.text}}</span>
          <sti-icon class="sti-menu-arrow" :icon="open|arrowFilter" v-if="isFolder"></sti-icon>
      </md-button>
  </a>
  <ul v-if="isShow">
    <item 
      v-on:menu-selected="childSelect"
      :unfold="unfold"
      class="item"
      v-for="model in model.children"
      :key="model.path"
      :model="model">
    </item>
  </ul>

  <ul v-if="!unfold" class="sub-menu">
    <li v-for="model in model.children">
      <a href="javascript:void(0)"  @click="subMenu(model)">
        <md-button>
            <span>{{model.meta.text}}</span>
        </md-button>
      </a>
    </li>
  </ul>
</li>