/*
* boom样式表基本样式，包括灰度，核心颜色，脚手架样式，排版，各个组件
*
*/
//w&h
@header-height: 50px;
@aside-width: 200px;
@base-padding: 15px;
@crumbs-height: 80px;

@line-height-base:        1.428571429; // 20/14

//zindex
@zindex-error: 13;
@zindex-loading: 11;
@zindex-header: 10;
@zindex-aside: 6;

//color
@loading-bg-color: rgba(255, 255, 255, .54);
@app-background: #fff;
@crumbs-background: #fff;
@crumbs-color: #676a6c;

@default-hbg-color: #00BFA5;
@default-htext-color: rgba(255, 255, 255, 0.87);
@default-bbg-color: #F5F5F5;
@default-mbg-color: #F5F5F5;
@default-notice-color: #80CBC4;
@default-alert-color: #F44336;
@dark-hbg-color: #000;
@dark-bbg-color: #EEEEEE;
@dark-notice-color: #9E9E9E;
@dark-alert-color: #F57F17;
@dashboard-hbg-color: transparent;
@dashboard-bbg-color: #000;
@dashboard-app-color: #131A1F;

