/*
* boom样式表基本样式，包括灰度，核心颜色，脚手架样式，排版，各个组件
*
*/
@header-height: 50px;
@aside-width: 200px;
@base-padding: 15px;

@line-height-base:        1.428571429; // 20/14

//zindex
@zindex-aside: 			   1000;
@zindex-header:            1010;
@zindex-dropdown:          1010;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;

//color
@default-hbg-color: #00BFA5;
@default-bbg-color: #F5F5F5;
@default-mbg-color: #F5F5F5;
@dark-hbg-color: #000;
@dark-bbg-color: #EEEEEE;
@dashboard-hbg-color: transparent;
@dashboard-bbg-color: #000;
@dashboard-app-color: #131A1F;
