.sti-icon {

	color: rgba(255, 255, 255, 0.87);
	font-size: 18px;
	width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;

    &.icon-normal {

    	text-transform: lowercase;
    }
}