<div class="sti-search">
	
	<transition name="sti-fadeInDown" appear>
		
		<div class="search-container" v-if="active">

			<div class="container-input" :class="{'focus-input': focused}">
				
				<input v-model="param" class="form-control" :placeholder="$t('commons.search')" @click.stop @focus="focus" @keyup.up="up" @keyup.down="down"/>
				<ul class="form-control" v-if="focused && contents.length > 0">

					<li 
						:class="{ active: $index == index}" 
						@mouseover="over($index)"
						v-for="(content, $index) in hlContents" :key="$index" 
						v-html="content">
					</li>
				</ul>
			</div>
		</div>	
	</transition>
</div>