/**
 * boom.base.css
 * 
 * by hahacoo
 * emailto: zhangdi525@163.com 
 */
/*
* boom样式表基本样式，包括灰度，核心颜色，脚手架样式，排版，各个组件
*
*/
html,
body,
h1,
h2,
h3,
div,
p,
form,
ul,
ol,
li,
table,
th,
td,
label,
pre,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font: normal 14px/1.5em 'Microsoft YaHei', '微软雅黑', arial, helvetica, sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  outline: none;
}
/**
 * layout
 */
.sti-web {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  /*版权信息*/
}
.sti-web .sti-container {
  height: 100%;
  padding-top: 50px;
  /*小屏app*/
  /*大屏显示*/
}
.sti-web .sti-container.visualize {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.sti-web .sti-container.visualize > .md-theme {
  height: 100%;
}
.sti-web .sti-container .sti-content {
  height: 100%;
  transition: padding 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sti-web .sti-container .sti-content .content-aside {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 9;
  float: left;
  overflow: auto;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sti-web .sti-container .sti-content .content-aside.fold {
  width: 50px;
}
.sti-web .sti-container .sti-content .content-main {
  height: 100%;
  padding: 15px;
  overflow: auto;
}
.sti-web .sti-container .visualize-main {
  height: 100%;
  width: 100%;
}
.sti-web .sti-container .sti-visualize {
  height: 100%;
  width: 100%;
  background-color: #131A1F;
}
.sti-web .sti-container .sti-visualize .visualize-main {
  height: 100%;
  width: 100%;
}
.sti-web .sti-footer {
  text-align: center;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  z-indexwebkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #999999;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #CCCCCC;
  z-indexwebkit-border-radius: 6px;
}
#sti-error {
  font-size: 12px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85098);
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 99;
  overflow: auto;
}
.sti-fade-enter-active,
.sti-fade-leave-active {
  transition: opacity 0.5s;
}
.sti-fade-enter,
.sti-fade-leave-active {
  opacity: 0;
}
.sti-flip-enter-active {
  animation: flipInX 0.5s;
}
.sti-flip-leave-active {
  animation: flipOutX 0.5s;
}
/*
 * 自下往上切换效果
 */
.sti-fadeInUp-enter-active {
  animation: fadeInUp 0.5s;
}
.sti-fadeInUp-leave-active {
  animation: fadeOutDown 0.5s;
}
/*
 * 自下往上切换效果
 */
.sti-fadeInDown-enter-active {
  animation: fadeInDown 0.5s;
}
.sti-fadeInDown-leave-active {
  animation: fadeOutUp 0.5s;
}
/*
 * 弹跳切换效果
 */
.sti-bounce-enter-active {
  animation: bounceInDown 0.5s;
}
.sti-bounce-leave-active {
  animation: bounceOutUp 0.5s;
}
/*
 * 缩放切换
 */
.sti-zoom-enter-active {
  animation: zoomIn 0.5s;
}
.sti-zoom-leave-active {
  animation: zoomOut 0.5s;
}
/**
 * 翻转效果，由右向左
 */
.sti-flippers-enter-active {
  animation: rotateInDownLeft 2s;
}
/**
 * layout
 */
.sti-web.default {
  background-color: #F5F5F5;
}
.sti-web.default .sti-header {
  background-color: #00BFA5;
}
.sti-web.default .sti-aside {
  background-color: #F5F5F5;
}
.md-theme-default .md-snackbar.notice .md-snackbar-container {
  background-color: #80CBC4;
}
.md-theme-default .md-snackbar.alert .md-snackbar-container {
  background-color: #F44336;
}
/**
 * layout
 */
.sti-web.dark {
  background-color: #EEEEEE;
}
.sti-web.dark .sti-header {
  background-color: #000;
}
.md-theme-dark .md-snackbar.notice .md-snackbar-container {
  background-color: #9E9E9E;
}
.md-theme-dark .md-snackbar.alert .md-snackbar-container {
  background-color: #F57F17;
}
.sti-container.dashboard {
  background-color: #000;
}
.sti-container.dashboard .sti-header {
  background-color: transparent;
}

/*# sourceMappingURL=map/sti.css.map */
