<md-speed-dial md-mode="scale" class="md-fab-bottom-right">

	<md-button class="md-fab md-primary" md-fab-trigger>

		<boom-icon icon="close" md-icon-morph></boom-icon>
		<boom-icon icon="plus"></boom-icon>
	</md-button>

	<slot>
			
		<md-button class="md-fab md-mini md-clean md-primary" @click.native="showSide">

			<boom-icon icon="tasks"></boom-icon>
		</md-button>
		<md-button class="md-fab md-mini md-clean md-primary" @click.native="backTop">

			<boom-icon icon="arrow-up"></boom-icon>
		</md-button>
	</slot>
</md-speed-dial>