/**
 * layout
 */
@import '../base/variables.less';
@import '../base/mixins.less';

.boom-web.default {

	background-color: @default-bbg-color;

	.boom-header {

		background-color: @default-hbg-color;
	}

	.boom-aside {

		background-color: @default-mbg-color;
	}

}

.md-theme-default {

	.md-snackbar.notice {

		.md-snackbar-container {

			background-color: @default-notice-color;
		}
	}

	.md-snackbar.alert {

		.md-snackbar-container {

			background-color: @default-alert-color;
		}
	}
}

