<md-whiteframe class="boom-header" md-tag="header" md-elevation="8">
	
	<div class="header-nav">

		<h2 class="md-title nav-title" style="flex: 1" @click="goHome">{{$config.TITLE}}</h2>

		<md-button class="nav-button md-icon-button md-primary" @click.native.stop="toggleLocale">

			<boom-icon>{{locale}}</boom-icon>
		</md-button>
		<md-button class="nav-button md-icon-button md-primary">

			<boom-icon icon="envelope"></boom-icon>
		</md-button>
		<md-button class="nav-button md-icon-button md-primary">

			<boom-icon icon="user-o"></boom-icon>
		</md-button>
		<md-button class="nav-button md-icon-button md-primary">

			<boom-icon icon="cog"></boom-icon>
		</md-button>
	</div>
</md-whiteframe>
