#sti-menu-list{
	cursor: pointer;
	li {
		margin-top: 1px;
		background-color: inherit;
	 	line-height: 1.5em;
	}
	a{
		overflow: hidden;
		height: 35px;
		font-size: 17px;
		color: #a7b1c2;
		display: block;
		text-decoration: none;
		padding: 5px 0 5px 10px;
		&:hover{
			color: #fff;
			background-color: #293846
		}

		.noIcon{
			visibility: hidden
		}

		.sti-menu-arrow{
			float: right;
			margin-right: 10px;
		}
	}

	.selected{
		color: #fff;
		a{
			color: #fff;
		}
	}
}
