<li :class="{selected: selected}">
  <a href="javascript:void(0)"
    @click="toggle">
      <md-button :style="{paddingLeft:model.level*1+'em'}">
          <sti-icon :icon="iconShow"></sti-icon>
          <span>{{model.menu_text}}</span>
          <sti-icon class="sti-menu-arrow" :icon="open|arrowFilter" v-if="isFolder"></sti-icon>
      </md-button>
  </a>
  <ul v-show="open" v-if="isFolder">
  <item
    class="item"
    v-for="model in model.children"
    :model="model">
  </item>
  </ul>
</li>