<div class="visualize-put-away"
	 v-bind:class="{
		 'content-left': direction == 'left',
		 'content-right': direction == 'right',
		 'content-top': direction == 'top',
		 'content-down': direction == 'down'
	 }">

	 <div v-bind:class="{
		 'slot-left': direction == 'left',
		 'slot-right': direction == 'right',
		 'slot-top': direction == 'top',
		 'slot-down': direction == 'down'
	 }">
	 	<slot></slot>
	 </div>
    <div
		class="put-away-btn" v-show="shown_btn"
		v-bind:class="{
			'put-btn-left': direction == 'left',
			'put-btn-right': direction == 'right',
			'put-btn-top': direction == 'top',
			'put-btn-down': direction == 'down'
		}"
		@click="putAway(direction)">
    </div>
</div>
