<div class="sti-console">
	<sti-drag init-top="200" init-left="200" v-if="active" fix-height>
	
		<div class="console-header" slot="header">

			<span>sti-console</span>
		</div>
		<md-tabs md-fixed slot="body">

			<md-tab md-label="路由">

				<transition-group name="list" tag="div">

					<p v-for="(route, index) in routes" v-html="route" :key="index"></p>
				</transition-group>
			</md-tab>
			<md-tab md-label="请求">

				<transition-group name="list" tag="div">

					<p v-for="(http, index) in https" v-html="http" :key="index"></p>
				</transition-group>
			</md-tab>
		</md-tabs>
	</sti-drag>
</div>