<div class="sti-console">
	<sti-drag :init-top="initTop" :init-left="initLeft" :init-width="initWidth" :init-height="initHeight" v-if="active" @resize="resize" @move="move">
	
		<div class="console-header" slot="header">

			<span>sti-console</span>
		</div>
		<md-layout md-gutter slot="body">
			
			<md-layout>
				<md-tabs md-fixed @change="change">

					<md-tab md-label="路由" :md-active="activeLable == 0">

						<transition-group name="list" tag="div">

							<p v-for="(route, index) in routes" v-html="route" :key="index"></p>
						</transition-group>
					</md-tab>
					<md-tab md-label="请求" :md-active="activeLable == 1">

						<transition-group name="list" tag="div">

							<p v-for="(http, index) in https" v-html="http" :key="index"></p>
						</transition-group>
					</md-tab>
				</md-tabs>
			</md-layout>	
		</md-layout>
	</sti-drag>
</div>