/**
 * layout
 */
@import '../base/variables.less';
@import '../base/mixins.less';

#sti-app {
	
	height: 100%;

	.sti-main {

		height: 100%;
		padding-top: @header-height;
		overflow-x: hidden;
		overflow-y: auto;

		.sti-header {
			
			height: @header-height;
			line-height: @header-height;
			width: 100%;
			position: fixed;
			top: 0;

			.header-nav {
				
				height: 100%;
			}
		}
	}
}
