/**
 * layout
 */
@import '../base/variables.less';
@import '../base/mixins.less';

.sti-main {

	height: 100%;
	padding-top: @header-height;
	overflow-x: hidden;
	overflow-y: auto;

	.sti-header {
		
		height: @header-height;
		width: 100%;
		position: fixed;
		top: 0;

		.header-main {
			
			height: 100%;
		}
	}

	.sti-body {
		
		height: 100%;
	}
}